In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
                 index=['a', 'b', 'c', 'd'],
                 columns=['one', 'two'])
print(df)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [9]:
print(df.cumsum())

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [13]:
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.083333</td>
      <td>-2.900000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>3.493685</td>
      <td>2.262742</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.750000</td>
      <td>-4.500000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.075000</td>
      <td>-3.700000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.400000</td>
      <td>-2.900000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>4.250000</td>
      <td>-2.100000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7.100000</td>
      <td>-1.300000</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [14]:
import pandas_datareader.data as web

In [15]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [17]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.478571   30.080000   30.447144   30.104286   88102700.0
 2010-01-04   30.642857   30.340000   30.490000   30.572857  123432400.0
 2010-01-05   30.798571   30.464285   30.657143   30.625713  150476200.0
 2010-01-06   30.747143   30.107143   30.625713   30.138571  138040000.0
 2010-01-07   30.285715   29.864286   30.250000   30.082857  119282800.0
 2010-01-08   30.285715   29.865715   30.042856   30.282858  111902700.0
 2010-01-11   30.428572   29.778572   30.400000   30.015715  115557400.0
 2010-01-12   29.967142   29.488571   29.884285   29.674286  148614900.0
 2010-01-13   30.132856   29.157143   29.695715   30.092857  151473000.0
 2010-01-14   30.065714   29.860001   30.015715   29.918571  108223500.0
 2010-01-15   30.228571   29.410000   30.132856   29.418571  148516900.0
 2010-01-19   30.741428   29.605715   29.761429   30.719999  182501900.0
 2010-01-20   30.792856   29.928572   30.701429   30.247143  153038200.0
 2010-01-21   30.472857   29.601429   30.297142   29.724285  152038600.0
 2010-01-22   29.642857   28.165714   29.540001   28.250000  220441900.0
 2010-01-25   29.242857   28.598572   28.930000   29.010000  266424900.0
 2010-01-26   30.530001   28.940001   29.421429   29.420000  466777500.0
 2010-01-27   30.082857   28.504286   29.549999   29.697144  430642100.0
 2010-01-28   29.357143   28.385714   29.275715   28.469999  293375600.0
 2010-01-29   28.885714   27.178572   28.725714   27.437143  311488100.0
 2010-02-01   28.000000   27.328571   27.481428   27.818571  187469100.0
 2010-02-02   28.045713   27.625713   27.987143   27.980000  174585600.0
 2010-02-03   28.600000   27.774286   27.881428   28.461428  153832000.0
 2010-02-04   28.338572   27.367144   28.104286   27.435715  189413000.0
 2010-02-05   28.000000   27.264286   27.518572   27.922857  212576700.0
 2010-02-08   28.268572   27.714285   27.955715   27.731428  119567700.0
 2010-02-09   28.214285   27.821428   28.059999   28.027143  158221700.0
 2010-02-10   28.085714   27.751429   27.984285   27.874287   92590400.0
 2010-02-11   28.535715   27.722857   27.840000   28.381428  137586400.0
 2010-02-12   28.805714   27.928572   28.301428   28.625713  163867200.0
 ...                ...         ...         ...         ...          ...
 2019-02-12  171.000000  169.699997  170.100006  170.889999   22283500.0
 2019-02-13  172.479996  169.919998  171.389999  170.179993   22490200.0
 2019-02-14  171.259995  169.380005  169.710007  170.800003   21835700.0
 2019-02-15  171.699997  169.750000  171.250000  170.419998   24626800.0
 2019-02-19  171.440002  169.490005  169.710007  170.929993   18972800.0
 2019-02-20  173.320007  170.990005  171.190002  172.029999   26114400.0
 2019-02-21  172.369995  170.300003  171.800003  171.059998   17249700.0
 2019-02-22  173.000000  171.380005  171.580002  172.970001   18913200.0
 2019-02-25  175.869995  173.949997  174.160004  174.229996   21873400.0
 2019-02-26  175.300003  173.169998  173.710007  174.330002   17070200.0
 2019-02-27  175.000000  172.729996  173.210007  174.869995   27835400.0
 2019-02-28  174.910004  172.919998  174.320007  173.149994   28215400.0
 2019-03-01  175.149994  172.889999  174.279999  174.970001   25886200.0
 2019-03-04  177.750000  173.970001  175.690002  175.850006   27436200.0
 2019-03-05  176.000000  174.539993  175.940002  175.529999   19737400.0
 2019-03-06  175.490005  173.940002  174.669998  174.520004   20810400.0
 2019-03-07  174.440002  172.020004  173.869995  172.500000   24796400.0
 2019-03-08  173.070007  169.500000  170.320007  172.910004   23999400.0
 2019-03-11  179.119995  175.350006  175.490005  178.899994   32011000.0
 2019-03-12  182.669998  179.369995  180.000000  180.910004   32467600.0
 2019-03-13  183.300003  180.919998  182.250000  181.710007   31032500.0
 2019-03-14  184.100006  182.559998  183.899994  183.729996   23579500.0
 2019-03-15  187.330002  183.740005  184.850006  186.119995   39042900.0
 2019-03-18  188.389999  185.789993  185.800003  188.020004   26219800.0
 2019-03-19  188.990005  185.919998  188.350006  186.529999   31646400.0
 2019-03-20  189.490005  184.729996  186.229996  188.160004   31035200.0
 2019-03-21  196.330002  189.809998  190.020004  195.089996   51034200.0
 2019-03-22  197.690002  190.779999  195.339996  191.050003   42407700.0
 2019-03-25  191.979996  186.600006  191.509995  188.740005   43845300.0
 2019-03-26  192.880005  184.580002  191.660004  186.789993   49719500.0

              Adj Close
 Date
 2009-12-31   20.073631
 2010-01-04   20.386072
 2010-01-05   20.421322
 2010-01-06   20.096491
 2010-01-07   20.059338
 2010-01-08   20.192701
 2010-01-11   20.014568
 2010-01-12   19.786903
 2010-01-13   20.066006
 2010-01-14   19.949797
 2010-01-15   19.616390
 2010-01-19   20.484186
 2010-01-20   20.168890
 2010-01-21   19.820242
 2010-01-22   18.837185
 2010-01-25   19.343958
 2010-01-26   19.617346
 2010-01-27   19.802147
 2010-01-28   18.983883
 2010-01-29   18.295170
 2010-02-01   18.549507
 2010-02-02   18.657150
 2010-02-03   18.978167
 2010-02-04   18.294220
 2010-02-05   18.619045
 2010-02-08   18.491404
 2010-02-09   18.688580
 2010-02-10   18.586657
 2010-02-11   18.924822
 2010-02-12   19.087709
 ...                ...
 2019-02-12  170.889999
 2019-02-13  170.179993
 2019-02-14  170.800003
 2019-02-15  170.419998
 2019-02-19  170.929993
 2019-02-20  172.029999
 2019-02-21  171.059998
 2019-02-22  172.970001
 2019-02-25  174.229996
 2019-02-26  174.330002
 2019-02-27  174.869995
 2019-02-28  173.149994
 2019-03-01  174.970001
 2019-03-04  175.850006
 2019-03-05  175.529999
 2019-03-06  174.520004
 2019-03-07  172.500000
 2019-03-08  172.910004
 2019-03-11  178.899994
 2019-03-12  180.910004
 2019-03-13  181.710007
 2019-03-14  183.729996
 2019-03-15  186.119995
 2019-03-18  188.020004
 2019-03-19  186.529999
 2019-03-20  188.160004
 2019-03-21  195.089996
 2019-03-22  191.050003
 2019-03-25  188.740005
 2019-03-26  186.789993

 [2323 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2009-12-31  132.850006  130.750000  132.410004  130.899994   4223400.0
 2010-01-04  132.970001  130.850006  131.179993  132.449997   6155300.0
 2010-01-05  131.850006  130.100006  131.679993  130.850006   6841400.0
 2010-01-06  131.490005  129.809998  130.679993  130.000000   5605300.0
 2010-01-07  130.250000  128.910004  129.869995  129.550003   5840600.0
 2010-01-08  130.919998  129.050003  129.070007  130.850006   4197200.0
 2010-01-11  131.059998  128.669998  131.059998  129.479996   5730400.0
 2010-01-12  131.330002  129.000000  129.029999  130.509995   8081500.0
 2010-01-13  131.119995  129.160004  130.389999  130.229996   6455400.0
 2010-01-14  132.710007  129.910004  130.550003  132.309998   7111800.0
 2010-01-15  132.889999  131.089996  132.029999  131.779999   8494400.0
 2010-01-19  134.250000  131.559998  131.630005  134.139999  13916200.0
 2010-01-20  131.149994  128.949997  130.460007  130.250000  15197500.0
 2010-01-21  130.690002  128.059998  130.470001  129.000000   9608600.0
 2010-01-22  128.889999  125.370003  128.669998  125.500000  10088600.0
 2010-01-25  126.889999  125.709999  126.330002  126.120003   5738500.0
 2010-01-26  127.750000  125.410004  125.919998  125.750000   7135300.0
 2010-01-27  126.959999  125.040001  125.820000  126.330002   8719200.0
 2010-01-28  127.040001  123.050003  127.029999  123.750000   9622200.0
 2010-01-29  125.000000  121.900002  124.320000  122.389999  11571200.0
 2010-02-01  124.949997  122.779999  123.230003  124.669998   7242900.0
 2010-02-02  125.809998  123.949997  124.790001  125.529999   5899900.0
 2010-02-03  126.070000  125.070000  125.160004  125.660004   4177100.0
 2010-02-04  125.440002  122.900002  125.190002  123.000000   9126900.0
 2010-02-05  123.720001  121.830002  123.040001  123.519997   8617000.0
 2010-02-08  123.220001  121.739998  123.150002  121.879997   5718500.0
 2010-02-09  124.199997  122.459999  122.650002  123.209999   6044500.0
 2010-02-10  123.650002  122.209999  122.940002  122.809998   5219100.0
 2010-02-11  124.199997  122.059998  122.580002  123.730003   5089000.0
 2010-02-12  124.050003  121.610001  123.010002  124.000000   8017700.0
 ...                ...         ...         ...         ...         ...
 2019-02-12  136.199997  134.860001  135.149994  136.050003   3317200.0
 2019-02-13  137.919998  136.410004  136.919998  137.520004   4253000.0
 2019-02-14  137.600006  136.210007  137.169998  136.479996   2789400.0
 2019-02-15  138.190002  137.389999  137.580002  138.029999   3844100.0
 2019-02-19  138.699997  137.360001  137.809998  138.699997   3385700.0
 2019-02-20  139.240005  137.220001  138.759995  138.000000   3802000.0
 2019-02-21  138.350006  137.350006  137.820007  137.839996   2937300.0
 2019-02-22  139.380005  138.429993  138.729996  139.250000   3113700.0
 2019-02-25  140.470001  139.320007  140.000000  139.460007   3194200.0
 2019-02-26  140.490005  139.470001  139.669998  139.720001   3060400.0
 2019-02-27  139.570007  138.399994  139.250000  139.169998   2530900.0
 2019-02-28  139.059998  137.720001  138.770004  138.130005   3457800.0
 2019-03-01  140.039993  138.639999  139.309998  139.199997   3030000.0
 2019-03-04  140.080002  137.169998  139.990005  138.429993   3406900.0
 2019-03-05  138.740005  137.559998  138.369995  137.880005   4250300.0
 2019-03-06  138.389999  136.720001  138.119995  136.979996   2768300.0
 2019-03-07  136.889999  134.630005  136.610001  135.360001   4358800.0
 2019-03-08  135.240005  133.580002  134.210007  135.089996   3773600.0
 2019-03-11  137.729996  135.839996  136.029999  137.710007   3939300.0
 2019-03-12  139.699997  137.860001  138.520004  138.279999   3954700.0
 2019-03-13  139.320007  137.850006  138.050003  138.559998   3173200.0
 2019-03-14  138.940002  138.059998  138.509995  138.789993   2738600.0
 2019-03-15  140.330002  139.229996  139.369995  139.429993   7153700.0
 2019-03-18  140.369995  138.720001  139.830002  140.210007   3268500.0
 2019-03-19  141.699997  140.000000  140.960007  140.490005   3482300.0
 2019-03-20  140.699997  138.979996  140.529999  139.600006   3649500.0
 2019-03-21  142.119995  138.880005  139.100006  141.440002   3605400.0
 2019-03-22  141.440002  138.899994  140.970001  139.449997   3877200.0
 2019-03-25  139.910004  138.350006  139.059998  139.179993   2839800.0
 2019-03-26  141.020004  139.419998  139.929993  140.220001   2406400.0

              Adj Close
 Date
 2009-12-31   99.303009
 2010-01-04  100.478867
 2010-01-05   99.265091
 2010-01-06   98.620255
 2010-01-07   98.278870
 2010-01-08   99.265091
 2010-01-11   98.225777
 2010-01-12   99.007156
 2010-01-13   98.794746
 2010-01-14  100.372673
 2010-01-15   99.970589
 2010-01-19  101.760918
 2010-01-20   98.809929
 2010-01-21   97.861649
 2010-01-22   95.206505
 2010-01-25   95.676834
 2010-01-26   95.396156
 2010-01-27   95.836143
 2010-01-28   93.878906
 2010-01-29   92.847176
 2010-02-01   94.576828
 2010-02-02   95.229240
 2010-02-03   95.327866
 2010-02-04   93.309929
 2010-02-05   93.704422
 2010-02-08   92.873825
 2010-02-09   93.887291
 2010-02-10   93.582497
 2010-02-11   94.283569
 2010-02-12   94.489265
 ...                ...
 2019-02-12  136.050003
 2019-02-13  137.520004
 2019-02-14  136.479996
 2019-02-15  138.029999
 2019-02-19  138.699997
 2019-02-20  138.000000
 2019-02-21  137.839996
 2019-02-22  139.250000
 2019-02-25  139.460007
 2019-02-26  139.720001
 2019-02-27  139.169998
 2019-02-28  138.130005
 2019-03-01  139.199997
 2019-03-04  138.429993
 2019-03-05  137.880005
 2019-03-06  136.979996
 2019-03-07  135.360001
 2019-03-08  135.089996
 2019-03-11  137.710007
 2019-03-12  138.279999
 2019-03-13  138.559998
 2019-03-14  138.789993
 2019-03-15  139.429993
 2019-03-18  140.210007
 2019-03-19  140.490005
 2019-03-20  139.600006
 2019-03-21  141.440002
 2019-03-22  139.449997
 2019-03-25  139.179993
 2019-03-26  140.220001

 [2323 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.990000   30.480000   30.980000   30.480000   31929700.0
 2010-01-04   31.100000   30.590000   30.620001   30.950001   38409100.0
 2010-01-05   31.100000   30.639999   30.850000   30.959999   49749600.0
 2010-01-06   31.080000   30.520000   30.879999   30.770000   58182400.0
 2010-01-07   30.700001   30.190001   30.629999   30.450001   50559700.0
 2010-01-08   30.879999   30.240000   30.280001   30.660000   51197400.0
 2010-01-11   30.760000   30.120001   30.709999   30.270000   68754700.0
 2010-01-12   30.400000   29.910000   30.150000   30.070000   65912100.0
 2010-01-13   30.520000   30.010000   30.260000   30.350000   51863500.0
 2010-01-14   31.100000   30.260000   30.309999   30.959999   63228100.0
 2010-01-15   31.240000   30.709999   31.080000   30.860001   79913200.0
 2010-01-19   31.240000   30.680000   30.750000   31.100000   46575700.0
 2010-01-20   30.940001   30.309999   30.809999   30.590000   54849500.0
 2010-01-21   30.719999   30.000000   30.610001   30.010000   73086700.0
 2010-01-22   30.200001   28.840000   30.000000   28.959999  102004600.0
 2010-01-25   29.660000   29.100000   29.240000   29.320000   63373000.0
 2010-01-26   29.850000   29.090000   29.200001   29.500000   66639900.0
 2010-01-27   29.820000   29.020000   29.350000   29.670000   63949500.0
 2010-01-28   29.870001   28.889999   29.840000   29.160000  117513700.0
 2010-01-29   29.920000   27.660000   29.900000   28.180000  193888500.0
 2010-02-01   28.480000   27.920000   28.389999   28.410000   85931100.0
 2010-02-02   28.500000   28.139999   28.370001   28.459999   54413700.0
 2010-02-03   28.790001   28.120001   28.260000   28.629999   61397900.0
 2010-02-04   28.500000   27.809999   28.379999   27.840000   77850000.0
 2010-02-05   28.280001   27.570000   28.000000   28.020000   80960100.0
 2010-02-08   28.080000   27.570000   28.010000   27.719999   52820600.0
 2010-02-09   28.340000   27.750000   27.969999   28.010000   59195800.0
 2010-02-10   28.240000   27.840000   28.030001   27.990000   48591300.0
 2010-02-11   28.400000   27.700001   27.930000   28.120001   65993700.0
 2010-02-12   28.059999   27.580000   27.809999   27.930000   81117200.0
 ...                ...         ...         ...         ...          ...
 2019-02-12  107.139999  105.480003  106.139999  106.889999   25056600.0
 2019-02-13  107.779999  106.709999  107.500000  106.809998   18394900.0
 2019-02-14  107.290001  105.660004  106.309998  106.900002   21784700.0
 2019-02-15  108.300003  107.360001  107.910004  108.220001   26606900.0
 2019-02-19  108.660004  107.779999  107.790001  108.169998   18038500.0
 2019-02-20  107.940002  106.290001  107.860001  107.150002   21607700.0
 2019-02-21  109.480003  106.870003  106.900002  109.410004   29063200.0
 2019-02-22  111.199997  109.820000  110.050003  110.970001   27763200.0
 2019-02-25  112.180000  111.260002  111.760002  111.589996   23750600.0
 2019-02-26  113.239998  111.169998  111.260002  112.360001   21536700.0
 2019-02-27  112.360001  110.879997  111.690002  112.169998   21487100.0
 2019-02-28  112.879997  111.730003  112.040001  112.029999   29083900.0
 2019-03-01  113.019997  111.669998  112.889999  112.529999   23501200.0
 2019-03-04  113.250000  110.800003  113.019997  112.260002   26608000.0
 2019-03-05  112.389999  111.230003  112.250000  111.699997   19538300.0
 2019-03-06  112.660004  111.430000  111.870003  111.750000   17687000.0
 2019-03-07  111.550003  109.870003  111.400002  110.389999   25339000.0
 2019-03-08  110.709999  108.800003  109.160004  110.510002   22818400.0
 2019-03-11  112.949997  110.980003  110.989998  112.830002   26491600.0
 2019-03-12  113.989998  112.650002  112.820000  113.620003   26132700.0
 2019-03-13  115.000000  113.779999  114.129997  114.500000   35513800.0
 2019-03-14  115.199997  114.330002  114.540001  114.589996   30763400.0
 2019-03-15  117.250000  114.589996  115.339996  115.910004   54681100.0
 2019-03-18  117.610001  116.050003  116.169998  117.570000   31207600.0
 2019-03-19  118.440002  116.989998  118.089996  117.650002   37588700.0
 2019-03-20  118.750000  116.709999  117.389999  117.519997   28113300.0
 2019-03-21  120.820000  117.089996  117.139999  120.220001   29854400.0
 2019-03-22  119.589996  117.040001  119.500000  117.050003   33624500.0
 2019-03-25  118.010002  116.320000  116.559998  117.660004   27067100.0
 2019-03-26  118.709999  116.849998  118.620003  117.910004   25988100.0

              Adj Close
 Date
 2009-12-31   24.241983
 2010-01-04   24.615801
 2010-01-05   24.623755
 2010-01-06   24.472631
 2010-01-07   24.218124
 2010-01-08   24.385145
 2010-01-11   24.074966
 2010-01-12   23.915895
 2010-01-13   24.138592
 2010-01-14   24.623755
 2010-01-15   24.544212
 2010-01-19   24.735104
 2010-01-20   24.329473
 2010-01-21   23.868181
 2010-01-22   23.033073
 2010-01-25   23.319397
 2010-01-26   23.462553
 2010-01-27   23.597769
 2010-01-28   23.192135
 2010-01-29   22.412704
 2010-02-01   22.595629
 2010-02-02   22.635405
 2010-02-03   22.770605
 2010-02-04   22.142290
 2010-02-05   22.285454
 2010-02-08   22.046848
 2010-02-09   22.277498
 2010-02-10   22.261591
 2010-02-11   22.364988
 2010-02-12   22.213871
 ...                ...
 2019-02-12  106.435448
 2019-02-13  106.355782
 2019-02-14  106.445404
 2019-02-15  107.759789
 2019-02-19  107.709999
 2019-02-20  107.150002
 2019-02-21  109.410004
 2019-02-22  110.970001
 2019-02-25  111.589996
 2019-02-26  112.360001
 2019-02-27  112.169998
 2019-02-28  112.029999
 2019-03-01  112.529999
 2019-03-04  112.260002
 2019-03-05  111.699997
 2019-03-06  111.750000
 2019-03-07  110.389999
 2019-03-08  110.510002
 2019-03-11  112.830002
 2019-03-12  113.620003
 2019-03-13  114.500000
 2019-03-14  114.589996
 2019-03-15  115.910004
 2019-03-18  117.570000
 2019-03-19  117.650002
 2019-03-20  117.519997
 2019-03-21  120.220001
 2019-03-22  117.050003
 2019-03-25  117.660004
 2019-03-26  117.910004

 [2323 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close      Volume  \
 Date
 2009-12-31   310.679321   307.986847   310.356445   307.986847   2455400.0
 2010-01-04   312.721039   310.103088   311.449310   311.349976   3937800.0
 2010-01-05   311.891449   308.761810   311.563568   309.978882   6048500.0
 2010-01-06   310.907837   301.220856   310.907837   302.164703   8009000.0
 2010-01-07   303.029083   294.410156   302.731018   295.130463  12912000.0
 2010-01-08   299.675903   292.651581   294.087250   299.064880   9509900.0
 2010-01-11   300.276978   295.100647   300.276978   298.612823  14519600.0
 2010-01-12   297.147339   292.100159   296.893982   293.332153   9769600.0
 2010-01-13   292.288940   285.095734   286.382355   291.648102  13077600.0
 2010-01-14   295.180145   289.521942   290.063416   293.019196   8535300.0
 2010-01-15   294.862213   287.152344   294.752930   288.126007  10939600.0
 2010-01-19   293.302338   286.283020   288.722137   291.911407   8689500.0
 2010-01-20   291.096710   285.786224   291.096710   288.329681   6543600.0
 2010-01-21   291.513977   284.276062   289.834900   289.606384  12697400.0
 2010-01-22   283.456390   265.701874   280.426086   273.227905  13689200.0
 2010-01-25   273.163330   266.024780   271.528961   268.255249   8897200.0
 2010-01-26   273.024231   266.412231   267.246826   269.457428   8767600.0
 2010-01-27   272.055542   265.925415   268.886169   269.298462   7980200.0
 2010-01-28   271.732635   263.585632   270.485748   265.418701   6500100.0
 2010-01-29   268.747070   261.106750   267.505127   263.257751   8334700.0
 2010-02-01   266.173798   263.436584   265.572693   264.787811   4530800.0
 2010-02-02   265.751556   262.100281   265.751556   263.843964   8245600.0
 2010-02-03   269.298462   262.408295   262.626862   268.662598   6037000.0

In [19]:
returns = price.pct_change()

In [20]:
returns.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-03-20</th>
      <td>0.008739</td>
      <td>-0.006335</td>
      <td>-0.001105</td>
      <td>0.020953</td>
    </tr>
    <tr>
      <th>2019-03-21</th>
      <td>0.036830</td>
      <td>0.013180</td>
      <td>0.022975</td>
      <td>0.006185</td>
    </tr>
    <tr>
      <th>2019-03-22</th>
      <td>-0.020708</td>
      <td>-0.014070</td>
      <td>-0.026368</td>
      <td>-0.021144</td>
    </tr>
    <tr>
      <th>2019-03-25</th>
      <td>-0.012091</td>
      <td>-0.001936</td>
      <td>0.005211</td>
      <td>-0.010369</td>
    </tr>
    <tr>
      <th>2019-03-26</th>
      <td>-0.010332</td>
      <td>0.007472</td>
      <td>0.002125</td>
      <td>-0.007024</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
returns.MSFT.corr(returns.IBM)

0.48820822813928627

In [22]:
returns.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>1.000000</td>
      <td>0.373779</td>
      <td>0.452259</td>
      <td>0.458554</td>
    </tr>
    <tr>
      <th>IBM</th>
      <td>0.373779</td>
      <td>1.000000</td>
      <td>0.488208</td>
      <td>0.408778</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>0.452259</td>
      <td>0.488208</td>
      <td>1.000000</td>
      <td>0.537544</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>0.458554</td>
      <td>0.408778</td>
      <td>0.537544</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
returns.cov()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>0.000271</td>
      <td>0.000076</td>
      <td>0.000108</td>
      <td>0.000116</td>
    </tr>
    <tr>
      <th>IBM</th>
      <td>0.000076</td>
      <td>0.000152</td>
      <td>0.000087</td>
      <td>0.000078</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>0.000108</td>
      <td>0.000087</td>
      <td>0.000210</td>
      <td>0.000120</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>0.000116</td>
      <td>0.000078</td>
      <td>0.000120</td>
      <td>0.000238</td>
    </tr>
  </tbody>
</table>
</div>